@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model List<Puntaje>

<h1>High Scores</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Puntaje</th>
            <th>Fecha y Hora</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var puntaje in Model)
        {
            <tr>
                <td>@puntaje.Username</td>
                <td>@puntaje.Puntos</td>
                <td>@puntaje.FechaHora.ToString("yyyy-MM-dd HH:mm:ss")</td>
            </tr>
        }
    </tbody>
</table>