@{
    ViewData["Title"] = "Juego";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Juego.css">
    <link rel="shortcut icon" href="https://w7.pngwing.com/pngs/9/393/png-transparent-trivia-crack-no-ads-quiz-logo-game-android-game-smiley-crack-thumbnail.png" type="image/x-icon">
    <title>Juego</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo-container">
                <img src="https://w7.pngwing.com/pngs/9/393/png-transparent-trivia-crack-no-ads-quiz-logo-game-android-game-smiley-crack-thumbnail.png" alt="Logo del Juego" class="logo">
            </div>
            <div class="user-score">
                <span class="user-label">Usuario:</span> JohnDoe - <span class="score-label">Puntaje:</span> 120
            </div>
        </header>
        <main class="main">
            <div class="question">
                <h2>Pregunta 1</h2>
                <p>¿En qué año ocurrió el descubrimiento de América?</p>
                <img src="https://concepto.de/wp-content/uploads/2020/02/america-limite-cabo-de-hornos-oceano-pacifico-atlantico-e1582057363859.jpg" alt="Pregunta 1" class="question-image">
            </div>
            <div class="answers">
                <a href="respuestaCorrecta.html" class="answer-button">
                    1492
                </a>
                <a href="respuestaIncorrecta.html" class="answer-button">
                    1521
                </a>
                <a href="respuestaIncorrecta.html" class="answer-button">
                    1776
                </a>
                <a href="respuestaIncorrecta.html" class="answer-button">
                    1812
                </a>
            </div>
        </main>
    </div>
</body>
</html>