@{
    ViewData["Title"] = "RespuestaIncorrecta";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/RespuestaIncorrecta.css">
    <title>Respuesta Incorrecta</title>
</head>
<body>
    <div class="container">
        <div class="response incorrect">
            <div class="message">
                <h1>¡Respuesta Incorrecta!</h1>
                <p>La respuesta correcta era: <span class="correct-answer">1521</span></p>
                <p>Tu puntaje actual es: <span class="score">80</span></p>
            </div>
            <div class="decorations">
                <div class="dots-container">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <div class="animation">
                    <div class="cross">
                        <div class="line line-1"></div>
                        <div class="line line-2"></div>
                    </div>
                </div>
            </div>
            <a href="juego.html" class="next-button">Siguiente Pregunta</a>
        </div>
    </div>
</body>
</html>