@{
    ViewData["Title"] = "RespuestaCorrecta";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/RespuestaCorrecta.css">
    <title>Respuesta Correcta</title>
</head>
<body>
    <div class="container">
        <div class="response correct">
            <div class="message">
                <h1>¡Respuesta Correcta!</h1>
                <p>Has acertado la pregunta y ganado <span class="score">100</span> puntos.</p>
                <p>Tu puntaje actual: <span class="score">220</span></p>
            </div>
            <div class="decorations">
                <div class="dots-container">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    
                </div>
                <div class="animation">
                    <div class="arrow"></div>
                </div>
            </div>
            <a href="juego.html" class="next-button">Siguiente Pregunta</a>
        </div>
    </div>
</body>
</html>
